name: Build and Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install System Dependencies
      run: |
        sudo apt-get update
        # Install LLVM, fmt, GTest via apt to save build time
        sudo apt-get install -y ninja-build cmake g++-11 llvm-dev libfmt-dev libgtest-dev
        sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-11 100
        
        # Install argparse manually (header-only)
        sudo mkdir -p /usr/local/include/argparse
        sudo wget -O /usr/local/include/argparse/argparse.hpp https://raw.githubusercontent.com/p-ranav/argparse/master/include/argparse/argparse.hpp

    - name: Configure CMake
      run: |
        cmake -S . -B build -G "Ninja" \
          -DCMAKE_BUILD_TYPE=Release
          # No vcpkg toolchain -> uses system libs found by find_package

    - name: Build
      run: cmake --build build

    - name: Run Tests
      run: |
        ./build/bin/manifast --test tests/Manifast

